.page-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

pre {
	margin: 40px;
	padding: 20px 25px;
	background-color: mistyrose;
}

pre,
img {
	-moz-box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6);
	-webkit-box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6);
	box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
